header {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
}

header * {
    margin-top: auto;
    margin-bottom: auto;
}

header h1 {
    display: flex;
    gap: 8px;
}

button:focus {
    box-shadow: none;
}

#theme-button {
    all: unset;
    display: flex;
}

.to-do-list {
    list-style: none;
    padding: 0;
}
        
.to-do-list li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
}
        
.to-do-list label {
    flex-grow: 1;
    cursor: pointer;
}
        
.to-do-list input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #888;
}

#add-to-do-container {
    display: flex;
    justify-content: center;
}

#add-to-do-container button {
    padding-right: 12px;
    padding-left: 12px;
}

#add-to-do-input {
    width: 80%;
}

.to-do-list button {
    background: none;
    padding: 0;
    margin: auto;
}

.save-button, .delete-button, .edit-input, .copy-button {
    display: none;
}

.edit-input {
    width: 100%;
}