:root {
    --focus: #007bff;
    --danger: #dc3545;
}

header {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
}

header * {
    margin-top: auto;
    margin-bottom: auto;
}

header h1 {
    display: flex;
    gap: 8px;
}

button:focus {
    box-shadow: none;
}

#theme-button, #stats-button {
    all: unset;
    display: flex;
}

.to-do-list {
    list-style: none;
    padding: 0;
}
        
.to-do-list li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
}
        
.to-do-list label {
    flex-grow: 1;
    cursor: pointer;
}
        
.to-do-list input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #888;
}

#add-to-do-container {
    display: flex;
    justify-content: center;
}

#add-to-do-container button {
    padding-right: 12px;
    padding-left: 12px;
}

#add-to-do-input {
    width: 80%;
}

.to-do-list button {
    background: none;
    padding: 0;
    margin: auto;
}

.save-button, .delete-button, .edit-input, .copy-button {
    display: none;
}

.edit-input {
    width: 100%;
}

#header-right-container {
    display: flex;
    gap: 12px;
}

#delete-container {
    border: 1px solid var(--danger);
    border-radius: 4px;
    padding: 20px;
}

.delete-dialog-form {
    display: flex;
    gap: 12px;
    justify-content: center;
}

#delete-checked-button, #delete-checked-dialog-trigger-button, #delete-all-button, #delete-all-dialog-trigger-button {
    background-color: var(--danger);
    color: white;
}

.delete-buttons-container {
    display: flex;
    gap: 24px;
}

#import-container {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.system-actions-container {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    display: none;
}

#header-right-container * {
    cursor: pointer;
}